* {
    padding: 0;
    margin : 0;
}

body {
    font-family: q$quicksand;
}

.toast-invalid {
    background-color: $error-text !important;
    border-radius: 5px !important;
    color: whitesmoke !important;
    width : 120px;
    height: 40px;
    padding-top:10px;
    padding-left: 10px;
    margin:100px;
    margin-top: 10px;

}

.toast-valid {
    background-color: $success-text !important;
    border-radius: 5px !important;
    color: whitesmoke !important;
    width : 120px;
    height: 40px;
    padding-top:10px;
    padding-left: 10px;
    margin:100px;
    margin-top: 10px;

}

.disable {
    pointer-events: none ;
    background-color: #ccc !important;
    box-shadow : none !important;
    opacity : 0.9 !important;
}